﻿@model MallBeaconWebApp.Core.DbTblViews.Merchant.UnitMasterView
@{
    ViewBag.Title = "UnitList";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">UNIT LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddUnit","Merchant")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Unit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Unit Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UnitList != null && Model.UnitList.Count > 0)
                        {
                            for (int i = 0; i < Model.UnitList.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.UnitList[i].UnitName</td>
                                    <td><a href="@Url.Action("UpdateUnit","Merchant",new { unitId = Model.UnitList[i].ID })"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                    <td><a href="@Url.Action("DeleteUnit","Merchant",new { unitId = Model.UnitList[i].ID })"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>