﻿@model MallBeaconWebApp.Core.DbProperties.Merchant.UnitMaster
@{
    ViewBag.Title = "UnitView";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE UNIT FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD UNIT FORM</h3>
                }

                @using (Html.BeginForm("AddEditUnit", "Merchant"))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Unit Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.UnitName, new { @class = "form-control", @placeholder = "Enter Unit Name" })
                            @Html.ValidationMessage("UnitName", new { @style = "color:red;" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            <button type="submit" id="update" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" id="save" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("UnitList","Merchant")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>