﻿@model MallBeaconWebApp.Core.DbProperties.Admin.ShopTypeCategoryMaster
@{
    ViewBag.Title = "CategoryAssignmentView";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model.IsParentCategory)
                {
                    <h3 class="card-title">ASSIGN PARENT CATEGORY FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ASSIGN CHILD CATEGORY FORM</h3>
                }

                @using (Html.BeginForm("AssignCategory", "Merchant"))
                {
                    @Html.HiddenFor(z => z.IsParentCategory)
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Category Name</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(z => z.ID, Model.CategoryList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success col-md-1">Assign</button>
                        @if (Model.IsParentCategory)
                        {
                            <a href="@Url.Action("CategoryAssignmentList", "Merchant")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                        else
                        {
                            <a href="@Url.Action("ChildCategoryAssignmentList", "Merchant")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>