﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.ShopTypeCategoryMasterView
@{
    ViewBag.Title = "CategoryAssignmentList";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            @if (Model.Level1ParentCategory)
                            {
                                <h4 class="mb-0 font-size-18">CATEGORY ASSIGNMENT LIST</h4>
                                <div class="page-title-right">
                                    <a href="@Url.Action("AssignParentCategory", "Merchant")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Assign Category</a>
                                </div>
                            }
                            else
                            {
                                <h4 class="mb-0 font-size-18">CHILD CATEGORY ASSIGNMENT LIST</h4>
                                <div class="page-title-right">
                                    <a href="@Url.Action("AddChildCategory", "Merchant", new { parentCatId = Model.CategoryID })" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add Child Category</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Category Name</th>
                            @if (Model.Level1ParentCategory)
                            {
                                <th>Remove Category</th>
                            }
                            @if (Model.Level1ParentCategory)
                            {
                                <th>Add Child</th>
                            }
                            else
                            {
                                <th>STATUS</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ShopTypeCatList != null && Model.ShopTypeCatList.Count > 0)
                        {
                            for (var a = 0; a < Model.ShopTypeCatList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.ShopTypeCatList[a].CategoryName</td>
                                    @if (Model.Level1ParentCategory)
                                    {
                                        <td><a href="@Url.Action("UnAssignCategory", "Merchant", new { categoryId = Model.ShopTypeCatList[a].ID })" onclick="return Confirm('Are you sure want to unassigned this category?')" class="btn btn-sm btn-danger">Unassigned</a></td>
                                    }
                                    @if (Model.Level1ParentCategory)
                                    {
                                        <td><a href="@Url.Action("ChildCategoryAssignmentList", "Merchant", new { categoryId = Model.ShopTypeCatList[a].ID })" class="btn btn-primary btn-sm">Child Category</a></td>
                                    }
                                    else
                                    {
                                        if (Model.ShopTypeCatList[a].IsAssigned)
                                        {
                                            <td><a href="@Url.Action("UnAssignCategory", "Merchant", new { categoryId = Model.ShopTypeCatList[a].ID })" onclick="return Confirm('Are you sure want to unassigned this category?')" class="btn btn-sm btn-danger">Unassigned</a></td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href="@Url.Action("AssignChildCategory", "Merchant", new { categoryId = Model.ShopTypeCatList[a].ID, parentCatID = Model.CategoryID })" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-check"></i> Assign Category
                                                </a>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No Record Found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>