﻿@model MallBeaconWebApp.Core.DbProperties.Admin.ShopTypeCategoryMaster
@{
    ViewBag.Title = "ChildCategoryView";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">ADD CHILD CATEGORY FORM</h3>

                @using (Html.BeginForm("AddChildCategory", "Merchant", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(z => z.Level1ParentCategoryId)
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Category Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.CategoryName, new { @class = "form-control", @placeholder = "Enter Child Category Name" })
                            @Html.ValidationMessage("CategoryName", new { @style = "color:red;" })
                            <span class="field-validation-error col-md-12" data-valmsg-for="CategoryName" id="CatValMsg" data-valmsg-replace="true" style="color:red;display:none;">Category Already Exist</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Logo</label>
                        <div class="col-md-10">
                            <input type="file" name="Logo" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label"></label>
                        <label for="example-text-input" class="col-md-10 col-form-label"><b> NOTE :</b> You will not edit or delete child category because it might be used by other merchants so be careful to insert data.</label>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success col-md-1" id="catSave">Save</button>
                        <a href="@Url.Action("ChildCategoryAssignmentList","Merchant", new { @categoryId = Model.Level1ParentCategoryId })" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

<script>
    $(document).ready(function () {
        $("#CategoryName").change(function () {
            var categoryname = $(this).val();
            if (categoryname != null && categoryname != "") {
                $.ajax({
                    url: "@Url.Action("CheckCategoryNameExist", "Merchant")?catName=" + categoryname,
                    type: "GET",
                    success: function (result) {
                        debugger;
                        if (result == "True") {
                            $("#CatValMsg").show();
                            $("#CategoryName").val("");
                            $("#CategoryName").focus();
                            $("#catSave").attr("disabled");
                        }
                        else {
                            $("#CatValMsg").hide();
                            $("#CategoryName").attr("style", "border:1px solid green");
                            $("#catSave").removeAttr("disabled");
                        }
                    }
                });
            }
            else {
                $("#CatValMsg").show();
                $("#CatValMsg").focus();
                $("#catSave").attr("disabled");
            }
        });
    });
</script>