﻿<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="@Url.Action("Dashboard","Merchant")" class="waves-effect">
                        <i class="bx bxs-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CategoryAssignmentList","Merchant")" class="waves-effect">
                        <i class="bx bx-layout"></i>
                        <span>Category Management</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("UnitList","Merchant")" class="waves-effect">
                        <i class="bx bx-layout"></i>
                        <span>Product Unit Master</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ProductMenu","Merchant")" class="waves-effect">
                        <i class="bx bxs-dashboard"></i>
                        <span>Manage Product/Menu</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MerchantBeaconList","Merchant")" class="waves-effect">
                        <i class="bx bxs-dashboard"></i>
                        <span>Beacon Management</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("OrderList","Merchant")" class="waves-effect">
                        <i class="bx bxs-dashboard"></i>
                        <span>Order Management</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->