﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.CurrencyMasterView
@{
    ViewBag.Title = "CurrencyList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">CURRENCY LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddCurrency","AdminMaster")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Currency</a>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model != null)
                {
                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="table-dark">
                            <tr>
                                <th>SRNO</th>
                                <th>Currency Name</th>
                                <th>Currency Short Name</th>
                                <th>Currency Symbol</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CurrencyMasterList != null && Model.CurrencyMasterList.Count > 0)
                            {
                                for (var a = 0; a < Model.CurrencyMasterList.Count; a++)
                                {
                                    <tr>
                                        <td>@(a + 1)</td>
                                        <td>@Model.CurrencyMasterList[a].Name</td>
                                        <td>@Model.CurrencyMasterList[a].ShortName</td>
                                        <td>@Model.CurrencyMasterList[a].Symbol</td>
                                        <td><a href="@Url.Action("UpdateCurrency", "AdminMaster", new { currencyId = Model.CurrencyMasterList[a].ID })"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                        <td><a href="@Url.Action("DeleteCurrency", "AdminMaster", new { currencyId = Model.CurrencyMasterList[a].ID })"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">
                                        No Record Found.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>
</div>
