﻿@model MallBeaconWebApp.Core.DbProperties.Admin.CurrencyMaster
@{
    ViewBag.Title = "CurrencyView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE CURRENCY FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD CURRENCY FORM</h3>
                }
                @using (Html.BeginForm("AddEditCurrency", "AdminMaster"))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Currency Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Name, new { @class = "form-control", @placeholder = "Enter Currency Name" })
                            @*@Html.ValidationMessage("Name", new { @style = "color:red;" })*@
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Currency Short Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ShortName, new { @class = "form-control", @placeholder = "Enter Currency Short Name" })
                            @Html.ValidationMessage("ShortName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Currency Symbol</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Symbol, new { @class = "form-control", @placeholder = "Enter Currency Symbol" })
                            @Html.ValidationMessage("Symbol", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("CurrencyList","AdminMaster")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>