﻿@model MallBeaconWebApp.Core.DbProperties.Common.LoginUser
@{
    ViewBag.Title = "ChangePassword";
    if (Model.RoleName == "Admin")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (Model.RoleName == "Merchant")
    {
        Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Franchies/_FranchiesLayout.cshtml";
    }
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">UPDATE PASSWORD FORM</h3>
                @using (Html.BeginForm("ChangePassword", "Home"))
                {
                    @Html.HiddenFor(z => z.RoleName)
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Current Password</label>
                        <div class="col-md-10">
                            <input class="form-control" id="CurrentPassword" name="CurrentPassword" placeholder="Enter Current Password" type="password">
                            <span class="field-validation-error" data-valmsg-for="CurrentPassword" id="CurrentPassVal" data-valmsg-replace="true" style="color:red;display:none;">Please Enter Current Password</span>
                            <span class="field-validation-error" data-valmsg-for="CurrentPassword" id="CurrentPassValMsg" data-valmsg-replace="true" style="color:red;display:none;">Password Not Matched</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Password</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Password, new { @class = "form-control", @placeholder = "Enter Password", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Confirm Password</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ConfirmedPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password", @type = "password" })
                            <span class="field-validation-error" data-valmsg-for="ConfirmedPassword" data-valmsg-replace="true" style="color:red;display:none;" id="cpasVal">Password and confirm password not matched</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success" id="submitbtn">Change Password</button>
                        @if (Session["Admin"] != null)
                        {
                            <a href="@Url.Action("Dashboard","Admin")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                        else if (Session["Merchant"] != null)
                        {
                            <a href="@Url.Action("Dashboard","Merchant")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                        else if (Session["FranchiesUser"] != null)
                        {
                            <a href="@Url.Action("Dashboard","Franchies")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>


<script>
    $(document).ready(function(){
        $("#ConfirmedPassword").change(function () {
            var pass = $("#Password").val();
            var cpass = $(this).val();
            if (pass != cpass) {
                $("#cpasVal").show();
            }
            else {
                $("#cpasVal").hide();
            }
            $(this).focus();
        });
        $("#Password").change(function () {
            var pass = $(this).val();
            var cpass = $("#ConfirmedPassword").val();
            if (pass != cpass) {
                $("#ConfirmedPassword").val("");
                $("#ConfirmedPassword").focus();
            }
        });
        $("#CurrentPassword").focusout(function () {
            var pass = $(this).val();
            if (pass != null && pass != "") {
                $.ajax({
                    url: "@Url.Action("CheckCurrentPassword","Home")?password=" + pass,
                    type: "GET",
                    success: function (result) {
                        debugger;
                        if (result == "True"){
                            $("#CurrentPassValMsg").hide();
                            $("#CurrentPassword").attr("style", "border:1px solid green");
                        }
                        else {
                            $("#CurrentPassVal").hide();
                            $("#CurrentPassValMsg").show();
                            $("#CurrentPassword").val("");
                            $("#CurrentPassword").focus();
                        }
                    }
                });
            }
            else {
                $("#CurrentPassVal").show();
                $("#CurrentPassValMsg").hide();
                $("#CurrentPassword").val("");
                $("#CurrentPassword").focus();
            }
        });
    });
</script>