﻿@model MallBeaconWebApp.Core.DbProperties.Common.CommonUser
@{
    ViewBag.Title = "UserProfile";
    if (Model.RoleName == "Admin")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (Model.RoleName == "Merchant")
    {
        Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Franchies/_FranchiesLayout.cshtml";
    }
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">UPDATE USER PROFILE FORM</h3>
                @using (Html.BeginForm("UserProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(z => z.ID)
                    @Html.HiddenFor(z => z.RoleName)
                    if (Model.RoleName == "Merchant")
                    {
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Floor No</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(z => z.FloorNo, Model.FloorList, new { @class = "form-control" })
                                @Html.ValidationMessage("FloorNo", new { @style = "color:red;" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Shop No</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.ShopNo, new { @class = "form-control", @placeholder = "Enter Shop Number" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Shop Name</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.ShopName, new { @class = "form-control", @placeholder = "Enter Shop Name" })
                            </div>
                        </div>
                    }

                    <div class="form-group row">
                        @if (Model.RoleName == "Merchant")
                        {
                            <label for="example-text-input" class="col-md-2 col-form-label">Shop Address</label>
                        }
                        else
                        {
                            <label for="example-text-input" class="col-md-2 col-form-label">Address</label>
                        }
                        <div class="col-md-10">
                            @Html.TextAreaFor(z => z.ShopAddress, new { @class = "form-control", @placeholder = "Enter Address" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">City</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.City, new { @class = "form-control", @placeholder = "Enter City" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">State</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.State, new { @class = "form-control", @placeholder = "Enter State" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @if (Model.RoleName == "Merchant")
                        {
                            <label for="example-text-input" class="col-md-2 col-form-label">Owner Name</label>
                        }
                        else
                        {
                            <label for="example-text-input" class="col-md-2 col-form-label">Name</label>
                        }
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerName, new { @class = "form-control", @placeholder = "Enter Name" })
                            @Html.ValidationMessage("OwnerName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @if (Model.RoleName == "Merchant")
                        {
                            <label for="example-text-input" class="col-md-2 col-form-label">Owner Contact Number</label>
                        }
                        else
                        {
                            <label for="example-text-input" class="col-md-2 col-form-label">Contact Number</label>
                        }
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerContactNo, new { @class = "form-control", @placeholder = "Enter Number", @type = "number" })
                        </div>
                    </div>
                    if (Model.RoleName == "Merchant")
                    {
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Shop Contact No</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.ShopContactNo, new { @class = "form-control", @placeholder = "Enter Shop Contact Number", @type = "number" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Email Address</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.OwnerEmail, new { @class = "form-control", @placeholder = "Enter Owner Email", @type = "email" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Currency</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.CurrencyName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Logo</label>
                            @{
                                if (!string.IsNullOrEmpty(Model.Logo))
                                {
                                    var imgPath = "/Upload_Files/Merchant/" + Model.Logo;
                                    <div class="col-md-9">
                                        <input type="file" name="Logo" class="form-control" />
                                    </div>
                                    <div class="col-md-1">
                                        <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                                    </div>
                                    @Html.HiddenFor(z => z.Logo)
                                }
                                else
                                {
                                    <div class="col-md-10">
                                        <input type="file" name="Logo" class="form-control" />
                                    </div>
                                }
                            }
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Banner Image</label>
                            @{
                                if (!string.IsNullOrEmpty(Model.BannerImg))
                                {
                                    var imgPath1 = "/Upload_Files/Merchant/" + Model.BannerImg;
                                    <div class="col-md-9">
                                        <input type="file" name="BannerImg" class="form-control" />
                                    </div>
                                    <div class="col-md-1">
                                        <a href="@imgPath1" target="_blank" class="fupimg btn btn-primary" rel="@imgPath1">Image</a>
                                    </div>
                                    @Html.HiddenFor(z => z.BannerImg)
                                }
                                else
                                {
                                    <div class="col-md-10">
                                        <input type="file" name="BannerImg" class="form-control" />
                                    </div>
                                }
                            }
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Facebook</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.Facebook, new { @class = "form-control", @placeholder = "Enter Facebook Link" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Instagram</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.Instagram, new { @class = "form-control", @placeholder = "Enter Instagram Link" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">LinkedIn</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.Linkedin, new { @class = "form-control", @placeholder = "Enter LinkedIn Link" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Twitter</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(z => z.Twitter, new { @class = "form-control", @placeholder = "Enter Twitter Link" })
                            </div>
                        </div>
                    }

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success">Update Profile</button>
                        @if (Model.RoleName == "Admin")
                        {
                            <a href="@Url.Action("Dashboard","Admin")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                        else if (Model.RoleName == "Merchant")
                        {
                            <a href="@Url.Action("Dashboard","Merchant")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Dashboard","Franchies")" class="btn btn-danger col-md-1">Cancel</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

