﻿@model MallBeaconWebApp.Core.DbProperties.Merchant.MerchantMaster
@{
    ViewBag.Title = "MerchantRegister";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">MERCHANT REGISTRATION</h3>
                @using (Html.BeginForm("AddMerchant", "Admin"))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">User Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.UserName, new { @class = "form-control", @placeholder = "Enter Unique User Name", @type = "Email" })
                            @Html.ValidationMessage("UserName", new { @style = "color:red;" })
                            <span class="field-validation-error col-md-12" data-valmsg-for="UserName" id="UserNameValMsg" data-valmsg-replace="true" style="color:red;display:none;">Username Already Exist</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Franchise</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.FranchiseID, Model.FranchiesList, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("AddFranchies","AdminMaster")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mall</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.MallID, Model.MallList, new { @class = "form-control" })
                            @Html.ValidationMessage("MallID", new { @style = "color:red;" })
                            @Html.HiddenFor(z => z.MallName)
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("MallRegister","Admin")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Shop Category</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.ShopCategoryID, Model.ShopCategoryList, new { @class = "form-control" })
                            @Html.ValidationMessage("ShopCategoryID", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("AddShopTypeCategory","AdminMaster")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Shop Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ShopName, new { @class = "form-control", @placeholder = "Enter Shop Name"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Owner Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerName, new { @class = "form-control", @placeholder = "Enter Owner Name" })
                            @Html.ValidationMessage("OwnerName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Owner Email</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerEmail, new { @class = "form-control", @placeholder = "Enter Owner Email", @type = "Email" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Active</label>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(z => z.IsActive)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(z => z.IsHomeActive) Do you want to display on home page?
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (!string.IsNullOrEmpty(Model.UserName))
                        {
                            <button type="submit" class="btn btn-success col-md-1" id="Reg">Register</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1" id="Reg" disabled>Register</button>
                        }
                        <a href="@Url.Action("MerchantList","Admin")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

<script>
    $(document).ready(function () {
        $("#UserName").change(function () {
            var username = $(this).val();
            if (username != null && username != "") {
                $.ajax({
                    url: "@Url.Action("CheckUsernameExist", "Admin")?username=" + username,
                    type: "GET",
                    success: function (result) {
                        debugger;
                        if (result == "True") {
                            $("#UserNameValMsg").show();
                            $("#UserName").val("");
                            $("#UserName").focus();
                            $("#Reg").attr("disabled");
                        }
                        else {
                            $("#UserNameValMsg").hide();
                            $("#UserName").attr("style", "border:1px solid green");
                            $("#Reg").removeAttr("disabled");
                        }
                    }
                });
            }
            else {
                $("#UserNameValMsg").show();
                $("#UserNameValMsg").focus();
                $("#Reg").attr("disabled");
            }
        });
        $("#MallID").change(function () {
            debugger;
            var value = $("#MallID option:selected").text();
            $("#MallName").val(value);
        });
    });
</script>