﻿@model MallBeaconWebApp.Core.DbProperties.Merchant.BeaconAssignMaster
@{
    ViewBag.Title = "BeaconAssignView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .btn-group {
        display: block;
        width: 100%;
        height: calc(1.5em + .94rem + 2px);
        padding: .47rem .75rem;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #bfc8e2;
        background-color: #2e3548;
        background-clip: padding-box;
        border: 1px solid #32394e;
        border-radius: .25rem;
    }

    .multiselect {
        padding: 0px;
        width: 100%;
        text-align: left;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE BEACON ASSIGNMENT FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD BEACON ASSIGNMENT FORM</h3>
                }

                @using (Html.BeginForm("AddEditBeaconAssign", "Admin"))
                {
                    var prelist = Model.BeaconList.Where(z => z.Selected == true).Select(z => z).ToList();
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Merchant</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.MerchantId, Model.MerchantList, new { @class = "form-control" })
                            @Html.ValidationMessage("MerchantId", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("AddMerchant","Admin")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Beacon</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.beaconAssignIDs, Model.BeaconList, new { @class = "form-control", multiple = "multiple" })
                            @Html.ValidationMessage("BeaconId", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("AddBeacon","AdminMaster")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("BeaconAssignList","Admin")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                    if (prelist != null && prelist.Count > 0)
                    {
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-12 col-form-label">PRE ASSIGN BEACON LIST</label>
                            <div class="col-md-12">
                                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>SRNO</th>
                                            <th>Beacon Mac Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var a = 0; a < prelist.Count; a++)
                                        {
                                            <tr>
                                                <td>@(a+1)</td>
                                                <td>@prelist[a].Text</td>
                                            </tr>
                                            
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

<script>
    $(document).ready(function () {
        $('#beaconAssignIDs').multiselect();
    });
</script>