﻿@model MallBeaconWebApp.Core.DbProperties.CustomMail
@using MallBeaconWebApp.Core.Enums
@{
    ViewBag.Title = "MailManagement";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">GENERAL MAIL FORM</h3>

                @using (Html.BeginForm("MailManagement", "Admin"))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Receiver Email</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(z => z.Role, Model.RoleList, new { @class = "form-control" })
                            @Html.ValidationMessage("Role", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="example-text-input" class="col-md-12 text-center col-form-label">-- OR --</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ToEmail, new { @class = "form-control", @placeholder = "Enter Receiver Email Address", @type = "Email" })
                            @Html.ValidationMessage("ToEmail", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Subject</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Subject, new { @class = "form-control", @placeholder = "Enter Subject" })
                            @Html.ValidationMessage("Subject", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Message</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(z => z.Message, new { @class = "summernote" })
                            @Html.ValidationMessage("Message", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success">Send Mail</button>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>
