﻿@model MallBeaconWebApp.Core.DbProperties.Admin.MallDeatils
@{
    ViewBag.Title = "MallRegister";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE MALL FORM</h3>
                }
                else
                {
                    <h3 class="card-title">MALL REGISTRATION FORM</h3>
                }
                @using (Html.BeginForm("MallRegister", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mall Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.MallName, new { @class = "form-control", @placeholder = "Enter Mall Name" })
                            @Html.ValidationMessage("MallName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-md-2 col-form-label">Location Latitude</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.LocationLat, new { @class = "form-control", @placeholder = "Enter Location Lat", @type="number" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-md-2 col-form-label">Location Longitude</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.LocationLong, new { @class = "form-control", @placeholder = "Enter Location Long", @type = "number" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-url-input" class="col-md-2 col-form-label">Address</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(z => z.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-tel-input" class="col-md-2 col-form-label">City</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.City, new { @class = "form-control", @placeholder = "Enter City" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-password-input" class="col-md-2 col-form-label">State</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.State, new { @class = "form-control", @placeholder = "Enter State" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-number-input" class="col-md-2 col-form-label">Owner Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerName, new { @class = "form-control", @placeholder = "Enter Owner Name" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-datetime-local-input" class="col-md-2 col-form-label">Owner Email Address</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerEmail, new { @class = "form-control", @placeholder = "Enter Owner Email Address", @type="email" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-md-2 col-form-label">Owner Contact</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.OwnerContactNo, new { @class = "form-control", @placeholder = "Enter Owner Contact Number" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-month-input" class="col-md-2 col-form-label">Mall Area</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.MallArea, new { @class = "form-control", @placeholder = "Enter Mall Area" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-week-input" class="col-md-2 col-form-label">Shop Lease Duration</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ShopLeaseDuration, new { @class = "form-control", @placeholder = "Enter Shop Lease Duration" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-time-input" class="col-md-2 col-form-label">Total Shops</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.TotalNoShops, new { @class = "form-control", @type = "number", @placeholder = "Enter Total No of Shops" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-color-input" class="col-md-2 col-form-label">Builder/Group Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.BuilderGroupName, new { @class = "form-control", @placeholder = "Enter Builder or Group Name" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-color-input" class="col-md-2 col-form-label">Mall Website</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.MallWebsite, new { @class = "form-control", @placeholder = "Enter Mall Website" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-color-input" class="col-md-2 col-form-label">Parking Space</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ParkingSpace, new { @class = "form-control", @placeholder = "Enter Parking Spaces", @type = "number" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mall Logo</label>
                        @if (string.IsNullOrEmpty(Model.MallLogo))
                        {
                            <div class="col-md-10">
                                <input type="file" name="MallLogo" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Mall/" + Model.MallLogo;
                            <div class="col-md-9">
                                <input type="file" name="MallLogo" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Banner Image</label>
                        @if (string.IsNullOrEmpty(Model.MallImage))
                        {
                            <div class="col-md-10">
                                <input type="file" name="MallImage" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Mall/" + Model.MallImage;
                            <div class="col-md-9">
                                <input type="file" name="MallImage" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Active</label>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(z => z.IsActive)
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(x => x.ID)
                            @Html.HiddenFor(x => x.MallLogo)
                            @Html.HiddenFor(x => x.MallImage)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Register</button>
                        }
                        <a href="@Url.Action("MallList","Admin")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>
