﻿@model MallBeaconWebApp.Core.DbTblViews.Merchant.MerchantMasterView
@{
    ViewBag.Title = "MerchantList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">MERCHANT LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddMerchant","Admin")" class="btn btn-primary" style="float:left;"><i class="fa fa-plus"></i> Add New Merchant</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>User Name</th>
                            <th>Shop No</th>
                            <th>Shop Name</th>
                            <th>Mall</th>
                            <th>Owner Name</th>
                            <th>Contact No</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MerchantList != null && Model.MerchantList.Count > 0)
                        {
                            for (var a = 0; a < Model.MerchantList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.MerchantList[a].UserName</td>
                                    <td>@Model.MerchantList[a].ShopNo</td>
                                    <td>@Model.MerchantList[a].ShopName</td>
                                    <td>@Model.MerchantList[a].MallName</td>
                                    <td>@Model.MerchantList[a].OwnerName</td>
                                    <td>@Model.MerchantList[a].ShopContactNo</td>
                                    <td><a href="@Url.Action("UpdateMerchant","Admin",new { merchantID = Model.MerchantList[a].ID })"><i class="fa fa-pencil-alt" style="color:#32d01f;"></i></a></td>
                                    <td><a href="@Url.Action("DeleteMerchant","Admin",new { merchantID = Model.MerchantList[a].ID })"><i class="fa fa-trash" style="color:#ff6363;"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>
