﻿@model MallBeaconWebApp.Core.DbProperties.Admin.Event
@{
    ViewBag.Title = "EventView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE EVENT FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD EVENT FORM</h3>
                }

                @using (Html.BeginForm("AddEditEvent", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(z => z.Type)
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Title</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Title, new { @class = "form-control", @placeholder = "Enter Event Title" })
                            @Html.ValidationMessage("Title", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mall</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.MallID, Model.MallList, new { @class = "form-control" })
                            @Html.ValidationMessage("MallID", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("MallRegister","Admin")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    if (Model.Type == "Category")
                    {
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Category</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(z => z.CategoryID, Model.CategoryList, new { @class = "form-control" })
                                @Html.ValidationMessage("CategoryID", new { @style = "color:red;" })
                            </div>
                            <div class="col-md-1"><a href="@Url.Action("MallRegister","Admin")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                        </div>
                    }
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Start Date</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.EventStartDate, @"{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessage("EventStartDate", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">End Date</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.EventEndDate, @"{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessage("EventEndDate", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Inside Image</label>
                        @if (string.IsNullOrEmpty(Model.InnerImgPath))
                        {
                            <div class="col-md-10">
                                <input type="file" name="InnerImg" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Event/" + Model.InnerImgPath;
                            <div class="col-md-9">
                                <input type="file" name="InnerImg" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Banner Image</label>
                        @if (string.IsNullOrEmpty(Model.OuterImgPath))
                        {
                            <div class="col-md-10">
                                <input type="file" name="OuterImg" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Event/" + Model.OuterImgPath;
                            <div class="col-md-9">
                                <input type="file" name="OuterImg" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(z => z.Description, new { @class = "summernote" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            @Html.HiddenFor(z => z.InnerImgPath)
                            @Html.HiddenFor(z => z.OuterImgPath)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("EventList","Admin", new { type=Model.Type })" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>