﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.EventView
@{
    ViewBag.Title = "EventList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">EVENT LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddEvent","Admin", new { type = Model.EventType})" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Event</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Title</th>
                            <th>Mall Name</th>
                            @if (Model.EventType == "Category")
                            {
                                <th>Category Name</th>
                            }
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.EventList != null && Model.EventList.Count > 0)
                        {
                            for (var a = 0; a < Model.EventList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.EventList[a].Title</td>
                                    <td>@Model.EventList[a].MallName</td>
                                    @if (Model.EventType == "Category")
                                    {
                                        <td>@Model.EventList[a].CategoryName</td>
                                    }
                                    <td>@Model.EventList[a].EventStartDate.ToShortDateString()</td>
                                    <td>@Model.EventList[a].EventEndDate.ToShortDateString()</td>
                                    <td><a href="@Url.Action("UpdateEvent","Admin",new { eventId = Model.EventList[a].ID, type = Model.EventType})"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                    <td><a href="@Url.Action("DeleteEvent","Admin",new { eventId = Model.EventList[a].ID, img1 = Model.EventList[a].InnerImgPath, img2 = Model.EventList[a].OuterImgPath, type = Model.EventType })" onclick="return Confirm('Are you sure want to delete this event?')"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div>