﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.RoleMasterView
@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">ROLE LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddRole","AdminMaster")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Role</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Role Name</th>
                            @*<th></th>
                            <th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.RoleList != null && Model.RoleList.Count > 0)
                        {
                            for (var a = 0; a < Model.RoleList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.RoleList[a].RoleName</td>
                                    @*<td><a href="@Url.Action("UpdateRole","AdminMaster",new { roleId = Model.RoleList[a].ID })"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                    <td><a href="@Url.Action("DeleteRole","AdminMaster",new { roleId = Model.RoleList[a].ID })"><i class="fa fa-trash" style="color:red;"></i></a></td>*@
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>