﻿@model MallBeaconWebApp.Core.DbProperties.Admin.Advertisement
@{
    ViewBag.Title = "AdvertisementView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE ADVERTISEMENT FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD ADVERTISEMENT FORM</h3>
                }

                @using (Html.BeginForm("AddEditAdvertisement", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    var displayType = "";
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Title</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Title, new { @class = "form-control", @placeholder = "Enter Advertisement Title" })
                            @Html.ValidationMessage("Title", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mall</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.MallID, Model.MallList, new { @class = "form-control" })
                            @Html.ValidationMessage("MallID", new { @style = "color:red;" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("MallRegister","Admin")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Merchant</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.MerchantID, Model.MerchantList, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("MallRegister","Admin")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Start Date</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.EventStartDate, @"{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessage("EventStartDate", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">End Date</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.EventEndDate, @"{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessage("EventEndDate", new { @style = "color:red;" })
                        </div>
                    </div>
                    if (Model.ID > 0)
                    {
                        displayType = "flex";
                    }
                    else
                    {
                        displayType = "none";
                    }
                    <div class="form-group row" id="priorityDiv" style="display:@displayType;">
                        <label for="example-text-input" class="col-md-2 col-form-label">Priority</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Priority, Enumerable.Range(0, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString(), Selected = Model.Priority == i }), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Advertisement Image</label>
                        @if (string.IsNullOrEmpty(Model.InnerImgPath))
                        {
                            <div class="col-md-10">
                                <input type="file" name="InnerImg" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Advertisement/" + Model.InnerImgPath;
                            <div class="col-md-9">
                                <input type="file" name="InnerImg" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Banner Image</label>
                        @if (string.IsNullOrEmpty(Model.OuterImgPath))
                        {
                            <div class="col-md-10">
                                <input type="file" name="OuterImg" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Advertisement/" + Model.OuterImgPath;
                            <div class="col-md-9">
                                <input type="file" name="OuterImg" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(z => z.Description, new { @class = "summernote" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            @Html.HiddenFor(z => z.InnerImgPath)
                            @Html.HiddenFor(z => z.OuterImgPath)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("AdvertisementList","Admin", new { type=Model.Type })" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

<script>
    $(document).ready(function () {
        var priority = @Model.Priority;
        if (priority > 0) {
            var stDate = '@Model.EventStartDate';
            var enDate = '@Model.EventEndDate';
            AdPriority(stDate, enDate, priority);
        }
        $("#EventStartDate").change(function () {
            var stDate = $(this).val();
            var enDate = $("#EventEndDate").val();
            AdPriority(stDate, enDate, "");
        });
        $("#EventEndDate").change(function () {
            var stDate = $("#EventStartDate").val();
            var enDate = $(this).val();
            AdPriority(stDate, enDate, "");
        });
        function AdPriority(stDate, enDate, priority) {
            $.ajax({
                url: "@Url.Action("CheckAdPriority", "Admin")?startDate=" + stDate + "&endDate="+enDate,
                type: "GET",
                success: function (result) {
                    if (result.length > 0) {
                        debugger;
                        $("#Priority").empty();
                        for (var i = 0; i <= 10; i++) {
                            var pos = $.inArray(i.toString(), result);
                            if (pos >= 0) {
                                if (priority.toString() != i.toString()) {
                                    $("#Priority option[value='" + i + "']").remove();
                                }
                                else {
                                    $('#Priority').append('<option value=' + i + ' selected> ' + i + ' </option>');
                                }
                            }
                            else {
                                $('#Priority').append('<option value=' + i + '> ' + i + ' </option>');
                            }
                        }
                        //$.each(result, function (data, value) {
                        //    if (priority != "") {
                        //        if (priority != result[data]) {
                        //            $("#Priority option[value='" + result[data] + "']").remove();
                        //        }
                        //    }
                        //    else {
                        //        $("#Priority option[value='" + result[data] + "']").remove();
                        //    }
                        //});
                    }
                    $("#priorityDiv").show();//.attr("style", "display:block");
                }
            });
        }

        var merchantId = @Model.MerchantID;
        var mallId = @Model.MallID;
        if (merchantId > 0 && mallId > 0) {
            GetMerchants(mallId, merchantId);
        }
        else if (mallId > 0) {
            GetMerchants(mallId, "")
        }
        $("#MallID").change(function () {
            var mallid = $(this).val();
            GetMerchants(mallid, "")
        });
        function GetMerchants(mallid, merchantId) {
            $.ajax({
                url: "@Url.Action("GetMerchants", "Admin")?mallid=" + mallid,
                type: "GET",
                success: function (result) {
                    if (result.length > 0) {
                        debugger;
                        $("#MerchantID").empty();
                        for (var i = 0; i < result.length; i++) {
                            if (merchantId != "") {
                                if (merchantId == result[i].Value) {
                                    $('#MerchantID').append('<option value=' + result[i].Value + ' selected> ' + result[i].Text + ' </option>');
                                } else {
                                    $('#MerchantID').append('<option value=' + result[i].Value + '> ' + result[i].Text + ' </option>');
                                }
                            }
                            else {
                                $('#MerchantID').append('<option value=' + result[i].Value + '> ' + result[i].Text + ' </option>');
                            }
                            //var pos = $.inArray(i.toString(), result);
                            //if (pos >= 0) {
                            //    if (priority.toString() != i.toString()) {
                            //        $("#Priority option[value='" + i + "']").remove();
                            //    }
                            //    else {
                            //        $('#Priority').append('<option value=' + i + ' selected> ' + i + ' </option>');
                            //    }
                            //}
                            //else {
                            //    $('#Priority').append('<option value=' + i + '> ' + i + ' </option>');
                            //}
                        }
                    }
                    $("#priorityDiv").show();//.attr("style", "display:block");
                }
            });
        }
    });
</script>