﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.AdvertisementView
@{
    ViewBag.Title = "AdvertisementList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">ADVERTISEMENT LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddAdvertisement","Admin")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Advertisement</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Ad Title</th>
                            <th>Mall Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AdvertisementList != null && Model.AdvertisementList.Count > 0)
                        {
                            for (var a = 0; a < Model.AdvertisementList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.AdvertisementList[a].Title</td>
                                    <td>@Model.AdvertisementList[a].MallName</td>
                                    <td>@Model.AdvertisementList[a].EventStartDate.ToShortDateString()</td>
                                    <td>@Model.AdvertisementList[a].EventEndDate.ToShortDateString()</td>
                                    <td><a href="@Url.Action("UpdateAdvertisement","Admin",new { AdvertisementId = Model.AdvertisementList[a].ID})"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                    <td><a href="@Url.Action("DeleteAdvertisement","Admin",new { AdvertisementId = Model.AdvertisementList[a].ID, img1 = Model.AdvertisementList[a].InnerImgPath, img2 = Model.AdvertisementList[a].OuterImgPath })" onclick="return Confirm('Are you sure want to delete this advertisement?')"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div>