﻿@model MallBeaconWebApp.Core.DbProperties.Admin.FranchiesMaster
@{
    ViewBag.Title = "FranchiesView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE FRANCHIES FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD FRANCHIES FORM</h3>
                }
                @using (Html.BeginForm("AddEditFranchies", "AdminMaster"))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Franchies Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.FranchiesName, new { @class = "form-control", @placeholder = "Enter Franchies Name" })
                            @Html.ValidationMessage("FranchiesName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("FranchiesList","AdminMaster")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>
