﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.FranchiesMasterView
@{
    ViewBag.Title = "FranchiesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">FRANCHIES LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddFranchies","AdminMaster")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Franchies</a>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model != null)
                {
                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="table-dark">
                            <tr>
                                <th>SRNO</th>
                                <th>Franchies Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FranchiesList != null && Model.FranchiesList.Count > 0)
                            {
                                for (var a = 0; a < Model.FranchiesList.Count; a++)
                                {
                                    <tr>
                                        <td>@(a + 1)</td>
                                        <td>@Model.FranchiesList[a].FranchiesName</td>
                                        <td><a href="@Url.Action("UpdateFranchies", "AdminMaster", new { franchiesId = Model.FranchiesList[a].ID })"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                        <td><a href="@Url.Action("DeleteFranchies", "AdminMaster", new { franchiesId = Model.FranchiesList[a].ID })"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">
                                        No Record Found.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>