﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.BeaconMasterView
@{
    ViewBag.Title = "MerchantBeaconList";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">ASSIGNED BEACON LIST</h4>
                        </div>
                    </div>
                </div>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Beacon Mac Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.BeaconList != null && Model.BeaconList.Count > 0)
                        {
                            for (var a = 0; a < Model.BeaconList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.BeaconList[a].MacAddress</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div>