﻿@model MallBeaconWebApp.Core.DbProperties.Merchant.OrderMaster
@using MallBeaconWebApp.Core.Enums
@{
    ViewBag.Title = "OrderDetailView";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">CUSTOMER ORDER DETAIL</h4>
                        </div>
                    </div>
                </div>
                <h4 class="font-size-16">General Details</h4>
                <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <tr>
                        <th>Order Number</th>
                        <td>@Model.OrderNo</td>
                    </tr>
                    <tr>
                        <th>Customer Name</th>
                        <td>@Model.CustomerName</td>
                    </tr>
                    <tr>
                        <th>Order Status</th>
                        <td>
                            @if (Model.OrderStatus > 0)
                            {
                                <span>@((OrderStatusEnum)Model.OrderStatus)</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Order Type</th>
                        <td>
                            @if (Model.OrderType > 0)
                            {
                                <span>@((OrderTypeEnum)Model.OrderType)</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Order Date</th>
                        <td>@Model.OrderDate</td>
                    </tr>
                    <tr>
                        <th>Order Comment</th>
                        <td>@Model.Comment</td>
                    </tr>
                </table>
                <h4 class="font-size-16">Billing Details</h4>
                <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <tr>
                        <th>Billing Name</th>
                        <td>@Model.BillingName</td>
                    </tr>
                    <tr>
                        <th>Billing Contact Number</th>
                        <td>@Model.BillingContactNo</td>
                    </tr>
                    <tr>
                        <th>Billing Address</th>
                        <td>@Model.BillingAddress</td>
                    </tr>
                    <tr>
                        <th>Billing City</th>
                        <td>@Model.BillingCity</td>
                    </tr>
                    <tr>
                        <th>Billing State</th>
                        <td>@Model.BillingState</td>
                    </tr>
                    <tr>
                        <th>Billing Country</th>
                        <td>@Model.BillingCountry</td>
                    </tr>
                    <tr>
                        <th>Billing ZipCode</th>
                        <td>@Model.BillingZipCode</td>
                    </tr>
                    <tr>
                        <th>Payment Method</th>
                        <td>
                            @if (Model.PaymentMethod > 0)
                            {
                                <span>@((PaymentMethodEnum)Model.PaymentMethod)</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Payment Status</th>
                        <td>
                            @if (Model.IsPaymentDone)
                            {
                                <span class="badge badge-success">DONE</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">PENDING</span>
                            }
                        </td>
                    </tr>
                </table>
                <h4 class="font-size-16">Delivery Details</h4>
                <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <tr>
                        <th>Delivery Name</th>
                        <td>@Model.DeliveryName</td>
                    </tr>
                    <tr>
                        <th>Delivery Contact Number</th>
                        <td>@Model.DeliveryContactNo</td>
                    </tr>
                    <tr>
                        <th>Delivery Address</th>
                        <td>@Model.DeliveryAddress</td>
                    </tr>
                    <tr>
                        <th>Delivery City</th>
                        <td>@Model.DeliveryCity</td>
                    </tr>
                    <tr>
                        <th>Delivery State</th>
                        <td>@Model.DeliveryState</td>
                    </tr>
                    <tr>
                        <th>Delivery Country</th>
                        <td>@Model.DeliveryCountry</td>
                    </tr>
                    <tr>
                        <th>Delivery ZipCode</th>
                        <td>@Model.DeliveryZipCode</td>
                    </tr>
                    <tr>
                        <th>Delivery State</th>
                        <td>
                            @if (Model.IsDelivery)
                            {
                                <span>DELIVERY</span>
                            }
                            else
                            {
                                <span>TAKE AWAY</span>
                            }
                        </td>
                    </tr>
                </table>

                <h4 class="font-size-16">Order Items Details</h4>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>NAME</th>
                            <th>ITEM QUANTITY</th>
                            <th>ORDER QUANTITY</th>
                            <th>PRICE</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OrderItemList != null && Model.OrderItemList.Count > 0)
                        {
                            var totalAmnt = 0.0;
                            for (var a = 0; a < Model.OrderItemList.Count; a++)
                            {
                                var total = Model.OrderItemList[a].OrderQuantity * Model.OrderItemList[a].Price;
                                totalAmnt += total;
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.OrderItemList[a].ItemName</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(Model.OrderItemList[a].Unit))
                                        {
                                            <span>@Model.OrderItemList[a].Quantity (@Model.OrderItemList[a].Unit)</span>
                                        }
                                        else
                                        {
                                            <span>@Model.OrderItemList[a].Quantity </span>
                                        }
                                    </td>
                                    <td>@Model.OrderItemList[a].OrderQuantity</td>
                                    <td>@Model.OrderItemList[a].Price</td>
                                    <td>@total</td>
                                </tr>
                            }
                            <tr>
                                <th colspan="5" style="text-align:right;">TOTAL ORDER AMOUNT</th>
                                <td>@totalAmnt</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>