﻿@model MallBeaconWebApp.Core.DbTblViews.Merchant.OrderMasterView
@using MallBeaconWebApp.Core.Enums
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">CUSTOMER ORDER LIST</h4>
                        </div>
                    </div>
                </div>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>ORDER NO</th>
                            <th>CUSTOMER NAME</th>
                            @*<th>PAYMENT STATUS</th>
                            <th>ORDER STATUS</th>*@
                            <th>ORDER DATE</th>
                            @*<th>TOTAL AMOUNT</th>*@
                            <th>VIEW ORDER</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OrderList != null && Model.OrderList.Count > 0)
                        {
                            for (var a = 0; a < Model.OrderList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.OrderList[a].OrderNo</td>
                                    <td>@Model.OrderList[a].CustomerName</td>
                                    @*<td>
                                        @if (Model.OrderList[a].IsPaymentDone)
                                        {
                                            <span class="badge badge-success">DONE</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">PENDING</span>
                                        }
                                    </td>
                                    <td>
                                    <td>@((OrderStatusEnum)Model.OrderList[a].OrderStatus)</td>*@
                                    <td>@Model.OrderList[a].OrderDate.ToShortDateString()</td>
                                    @*<td>@Model.OrderList[a].TotalAmount</td>*@
                                    <td>
                                        <a href="@Url.Action("ViewOrder", "Merchant", new { orderId = Model.OrderList[a].ID})">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No Record Found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>