﻿@model MallBeaconWebApp.Core.DbTblViews.Admin.ShopTypeCategoryMasterView
@{
    ViewBag.Title = "ShopTypeCatList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">SHOP TYPE CATEGORY LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddShopTypeCategory","AdminMaster")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New Category</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Category Name</th>
                            <th>Home Page Category</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ShopTypeCatList != null && Model.ShopTypeCatList.Count > 0)
                        {
                            for (var a = 0; a < Model.ShopTypeCatList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.ShopTypeCatList[a].CategoryName</td>
                                    <td>
                                        @if (Model.ShopTypeCatList[a].IsHomeVisible)
                                        {
                                            <span class="badge badge-success">YES</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">NO</span>
                                        }
                                    </td>
                                    @if (Model.ShopTypeCatList[a].Level1ParentCategoryId > 0)
                                    {
                                        <td colspan="2" style="text-align:center;">Created by Merchant</td>
                                    }
                                    else
                                    {
                                        <td><a href="@Url.Action("UpdateShopTypeCategory", "AdminMaster", new { shopTypeId = Model.ShopTypeCatList[a].ID })"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                        <td><a href="@Url.Action("DeleteShopTypeCategory", "AdminMaster", new { shopTypeId = Model.ShopTypeCatList[a].ID })"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No Record Found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>