﻿@model MallBeaconWebApp.Core.DbProperties.Admin.ShopTypeCategoryMaster
@{
    ViewBag.Title = "Shop Type Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE SHOP TYPE CATEGORY FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD SHOP TYPE CATEGORY FORM</h3>
                }

                @using (Html.BeginForm("AddEditShopTypeCategory", "AdminMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Categoy Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.CategoryName, new { @class = "form-control", @placeholder = "Enter Shop Type Categoy Name" })
                            @Html.ValidationMessage("CategoryName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Parent Category</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(z => z.ParentCategoryID, Model.CategoryList, new { @class = "form-control" })
                        </div>
                    </div>
                    var displayVal = "none";
                    if (Model.ID == 0 || Model.ParentCategoryID == 0)
                    {
                        displayVal = "flex";
                    }
                    <div class="form-group row" id="dispType" style="display:@displayVal">
                        <label for="example-text-input" class="col-md-2 col-form-label">Display Type</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(z => z.DisplayType, Model.DisplayTypeList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Logo</label>
                        @if (string.IsNullOrEmpty(Model.CategoryLogo))
                        {
                            <div class="col-md-10">
                                <input type="file" name="Logo" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Category/" + Model.CategoryLogo;
                            <div class="col-md-9">
                                <input type="file" name="Logo" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(z => z.IsHomeVisible) <span> Do you want to display on home page of application?</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @if (Model != null && Model.ID > 0)
                        {
                            @Html.HiddenFor(z => z.ID)
                            @Html.HiddenFor(z => z.CategoryLogo)
                            <button type="submit" class="btn btn-success col-md-1">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success col-md-1">Save</button>
                        }
                        <a href="@Url.Action("ShopTypeCategoryList","AdminMaster")" class="btn btn-danger col-md-1">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>

<script>
    $(document).ready(function () {
        $("#ParentCategoryID").change(function () {
            var value = $(this).val();
            if (value == "") {
                $("#dispType").show();
            }
            else {
                $("#dispType").hide();
            }
        });
    });

    
</script>