﻿@model MallBeaconWebApp.Core.DbTblViews.Merchant.MenuView
@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">MENU LIST</h4>
                            <div class="page-title-right">
                                <a href="@Url.Action("AddMenu","Merchant")" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Add New 
                                
                                
                                Menu</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th>SRNO</th>
                            <th>Item Name</th>
                            <th>Itemcode</th>
                            <th>Price</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MenuList != null && Model.MenuList.Count > 0)
                        {
                            for (var a = 0; a < Model.MenuList.Count; a++)
                            {
                                <tr>
                                    <td>@(a + 1)</td>
                                    <td>@Model.MenuList[a].ItemName</td>
                                    <td>@Model.MenuList[a].ItemCode</td>
                                    <td>@Model.MenuList[a].Price</td>
                                    <td><a href="@Url.Action("UpdateMenu","Merchant",new { ProductId = Model.MenuList[a].ID })"><i class="fa fa-pencil-alt" style="color:green;"></i></a></td>
                                    <td><a href="@Url.Action("DeleteMenu","Merchant",new { ProductId = Model.MenuList[a].ID })" onclick="Confirm('Are you sure want to delete this menu?')"><i class="fa fa-trash" style="color:red;"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    No Record Found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div>