﻿@model MallBeaconWebApp.Core.DbProperties.Merchant.Menu
@{
    ViewBag.Title = "EventView";
    Layout = "~/Views/Shared/Merchant/_MerchantLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model != null && Model.ID > 0)
                {
                    <h3 class="card-title">UPDATE MENU FORM</h3>
                }
                else
                {
                    <h3 class="card-title">ADD MENU FORM</h3>
                }

                @using (Html.BeginForm("AddEditMenu", "Merchant", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (Model.CategoryList == null || Model.CategoryList.Count == 0)
                    {
                        <div class="form-group row">
                            <label class="col-md-1"></label>
                            <label for="example-text-input" class="col-md-10 col-form-label">
                                <b>NOTE : </b> You need to first make child category and assign to yourself then you can add the menu.
                                For assign/create child category <a href="@Url.Action("CategoryAssignmentList","Merchant")">CLICK HERE</a>
                            </label>
                        </div>
                    }
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Category</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.CategoryID, Model.CategoryList, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("CategoryAssignmentList","Merchant")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Code</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ItemCode, new { @class = "form-control", @placeholder = "Enter Item Code" })
                            @Html.ValidationMessage("ItemCode", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.ItemName, new { @class = "form-control", @placeholder = "Enter Item Name" })
                            @Html.ValidationMessage("ItemName", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Price</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Price, new { @class = "form-control", @placeholder = "Enter Item Price" })
                            @Html.ValidationMessage("Price", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Unit</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(z => z.UnitID, Model.UnitList, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1"><a href="@Url.Action("AddUnit","Merchant")"><i class="fa fa-plus-circle fa-2x"></i></a></div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(z => z.Description, new { @class = "form-control", @placeholder = "Enter Item Description" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Quantity</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(z => z.Quantity, new { @class = "form-control", @placeholder = "Enter Item Quantity" })
                            @Html.ValidationMessage("Quantity", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Quantity</label>
                        <div class="col-md-10" style="margin-top:10px;">
                            @Html.RadioButtonFor(z => z.FoodType, "Veg") Vegetarian
                            @Html.RadioButtonFor(z => z.FoodType, "NonVeg") Non-vegetarian
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Item Image</label>
                        @if (string.IsNullOrEmpty(Model.ItemImage))
                        {
                            <div class="col-md-10">
                                <input type="file" name="ItemImage" class="form-control" />
                            </div>
                        }
                        else
                        {
                            var imgPath = "/Upload_Files/Menu/" + Model.ItemImage;
                            <div class="col-md-9">
                                <input type="file" name="ItemImage" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a href="@imgPath" target="_blank" class="fupimg btn btn-primary" rel="@imgPath">Image</a>
                            </div>
                        }
                    </div>
                    if (Model.CategoryList != null && Model.CategoryList.Count > 0)
                    {
                        <div class="form-group col-md-12">
                            @if (Model != null && Model.ID > 0)
                            {
                                @Html.HiddenFor(z => z.ID)
                                <button type="submit" class="btn btn-success col-md-1">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success col-md-1">Save</button>
                            }
                            <a href="@Url.Action("MenuList", "Merchant")" class="btn btn-danger col-md-1">Cancel</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div> <!-- end col -->
</div>